body {
    background-color: black !important;
    width: 100%;
    display: flex;
    justify-content: center;
    /* height: 100vh; */
    color: gainsboro !important;
}

#root {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    width: 1200px;
}