#logo {
  width: 200px;
  /* padding-bottom: 100px; */
}

.navbar {
  width: 100%;

  display: flex;
  justify-content: space-between;


  padding-bottom: 300px !important;

}

.text-model {
  text-decoration: none;
  font-size: 40px;
  color: gainsboro;
  font-weight: bold;
}

.text-model:hover {
  color: red;
}